In [1]:
import pandas as pd
import numpy as np
data1 = "1_paid_marketing.csv"
data2 = "2_hcp_data.csv"
data3 = "3_shifts_data.csv"
campaigns = pd.read_csv(data1)
hcp = pd.read_csv(data2)
shifts = pd.read_csv(data3)

In [4]:
shifts.head()

,MSA,AGENT_REQ,MONTH,POSTED_SHIFTS,FILLED_SHIFTS
0,"Atlanta-Sandy Springs-Alpharetta, GA",CNA,9/1/22,1109.0,659.0
1,"Atlanta-Sandy Springs-Alpharetta, GA",CNA,10/1/22,1562.0,963.0
2,"Atlanta-Sandy Springs-Alpharetta, GA",CNA,11/1/22,1453.0,1092.0
3,"Atlanta-Sandy Springs-Alpharetta, GA",LVN,9/1/22,539.0,328.0
4,"Atlanta-Sandy Springs-Alpharetta, GA",LVN,10/1/22,793.0,699.0

In [5]:
shifts.columns

Index(['MSA', 'AGENT_REQ', 'MONTH', 'POSTED_SHIFTS', 'FILLED_SHIFTS'], dtype='object')

In [6]:
shifts.count()

MSA              268
AGENT_REQ        268
MONTH            268
POSTED_SHIFTS    268
FILLED_SHIFTS    268
dtype: int64

In [7]:
shifts.dtypes

MSA               object
AGENT_REQ         object
MONTH             object
POSTED_SHIFTS    float64
FILLED_SHIFTS    float64
dtype: object

In [8]:
# Check for null values
print(pd.to_datetime(shifts['MONTH'], errors='coerce').isnull().value_counts())

False    268
True       1
Name: MONTH, dtype: int64

In [9]:
# Drop empty row, verify month column can convert to datetime
shifts = shifts.dropna(how='any')
print(pd.to_datetime(shifts['MONTH'], errors='coerce').isnull().value_counts())

False    268
Name: MONTH, dtype: int64

In [10]:
# Convert month column to datetime
shifts.MONTH = pd.to_datetime(shifts['MONTH'], errors='coerce')

print(shifts.isnull().sum())
print(shifts.shape)
print(shifts.dtypes)

MSA              0
AGENT_REQ        0
MONTH            0
POSTED_SHIFTS    0
FILLED_SHIFTS    0
dtype: int64
(268, 5)
MSA                      object
AGENT_REQ                object
MONTH            datetime64[ns]
POSTED_SHIFTS           float64
FILLED_SHIFTS           float64
dtype: object

In [11]:
# Check for any duplicate cities
shifts['MSA'].value_counts()

Riverside-San Bernardino-Ontario, CA              9
Kansas City, MO-KS                                9
Pittsburgh, PA                                    9
Dallas-Fort Worth-Arlington, TX                   9
Cincinnati, OH-KY-IN                              9
New York-Newark-Jersey City, NY-NJ-PA             9
Boston-Cambridge-Newton, MA-NH                    9
San Jose-Sunnyvale-Santa Clara, CA                9
Minneapolis-St. Paul-Bloomington, MN-WI           9
Nashville-Davidson--Murfreesboro--Franklin, TN    9
San Francisco-Oakland-Berkeley, CA                9
Sacramento-Roseville-Folsom, CA                   9
Hartford-East Hartford-Middletown, CT             9
Atlanta-Sandy Springs-Alpharetta, GA              9
San Antonio-New Braunfels, TX                     9
Springfield, MA                                   9
Canton-Massillon, OH                              9
St. Louis, MO-IL                                  9
Las Vegas-Henderson-Paradise, NV                  9
Los Angeles-Long Beach-Anaheim, CA                9
Portland-Vancouver-Hillsboro, OR-WA               9
Phoenix-Mesa-Chandler, AZ                         9
Denver-Aurora-Lakewood, CO                        9
Louisville/Jefferson County, KY-IN                9
Columbus, OH                                      9
Stockton, CA                                      8
Detroit-Warren-Dearborn, MI                       8
Torrington, CT                                    7
Grand Rapids-Kentwood, MI                         7
Chico, CA                                         6
Rapid City, SD                                    5
Sioux Falls, SD                                   2
Name: MSA, dtype: int64

In [13]:
# Create pivot table to sum up all filled and posted shifts of each MSA
shifts = pd.pivot_table(shifts, index = ['MSA'], aggfunc=np.sum)
shifts

                                                FILLED_SHIFTS  POSTED_SHIFTS
MSA
Atlanta-Sandy Springs-Alpharetta, GA                   4469.0         6266.0
Boston-Cambridge-Newton, MA-NH                         1860.0         3085.0
Canton-Massillon, OH                                    812.0         1114.0
Chico, CA                                              1356.0         2591.0
Cincinnati, OH-KY-IN                                   1834.0         2813.0
Columbus, OH                                           1601.0         1949.0
Dallas-Fort Worth-Arlington, TX                        4365.0         5629.0
Denver-Aurora-Lakewood, CO                             1510.0         1868.0
Detroit-Warren-Dearborn, MI                             725.0         1084.0
Grand Rapids-Kentwood, MI                               975.0         1625.0
Hartford-East Hartford-Middletown, CT                  1749.0         2464.0
Kansas City, MO-KS                                     1235.0         1418.0
Las Vegas-Henderson-Paradise, NV                       2505.0         3447.0
Los Angeles-Long Beach-Anaheim, CA                    42112.0        47407.0
Louisville/Jefferson County, KY-IN                     2836.0         3471.0
Minneapolis-St. Paul-Bloomington, MN-WI                3087.0         3708.0
Nashville-Davidson--Murfreesboro--Franklin, TN         1430.0         2162.0
New York-Newark-Jersey City, NY-NJ-PA                  9197.0        12221.0
Phoenix-Mesa-Chandler, AZ                              1703.0         2438.0
Pittsburgh, PA                                         9067.0        11257.0
Portland-Vancouver-Hillsboro, OR-WA                    5631.0         6273.0
Rapid City, SD                                          110.0         1161.0
Riverside-San Bernardino-Ontario, CA                   2730.0         3952.0
Sacramento-Roseville-Folsom, CA                        5397.0         7582.0
San Antonio-New Braunfels, TX                           835.0         1165.0
San Francisco-Oakland-Berkeley, CA                     8800.0         9359.0
San Jose-Sunnyvale-Santa Clara, CA                     1874.0         2292.0
Sioux Falls, SD                                         115.0          450.0
Springfield, MA                                         970.0         1567.0
St. Louis, MO-IL                                       2216.0         3130.0
Stockton, CA                                           1041.0         1372.0
Torrington, CT                                          854.0         1171.0

In [17]:
# Find fill rate for each MSA
fill_rate = shifts['FILLED_SHIFTS'] / shifts['POSTED_SHIFTS']
shifts['FILL_RATE'] = fill_rate
shifts

,FILLED_SHIFTS,POSTED_SHIFTS,FILL_RATE
MSA,,,
"Atlanta-Sandy Springs-Alpharetta, GA",4469.0,6266.0,0.713214
"Boston-Cambridge-Newton, MA-NH",1860.0,3085.0,0.602917
"Canton-Massillon, OH",812.0,1114.0,0.728905
"Chico, CA",1356.0,2591.0,0.523350
"Cincinnati, OH-KY-IN",1834.0,2813.0,0.651973
"Columbus, OH",1601.0,1949.0,0.821447
"Dallas-Fort Worth-Arlington, TX",4365.0,5629.0,0.775449
"Denver-Aurora-Lakewood, CO",1510.0,1868.0,0.808351
"Detroit-Warren-Dearborn, MI",725.0,1084.0,0.668819
"Grand Rapids-Kentwood, MI",975.0,1625.0,0.600000
"Hartford-East Hartford-Middletown, CT",1749.0,2464.0,0.709821
"Kansas City, MO-KS",1235.0,1418.0,0.870945
"Las Vegas-Henderson-Paradise, NV",2505.0,3447.0,0.726719
"Los Angeles-Long Beach-Anaheim, CA",42112.0,47407.0,0.888308
"Louisville/Jefferson County, KY-IN",2836.0,3471.0,0.817056
"Minneapolis-St. Paul-Bloomington, MN-WI",3087.0,3708.0,0.832524
"Nashville-Davidson--Murfreesboro--Franklin, TN",1430.0,2162.0,0.661425
"New York-Newark-Jersey City, NY-NJ-PA",9197.0,12221.0,0.752557
"Phoenix-Mesa-Chandler, AZ",1703.0,2438.0,0.698523
"Pittsburgh, PA",9067.0,11257.0,0.805454
"Portland-Vancouver-Hillsboro, OR-WA",5631.0,6273.0,0.897657
"Rapid City, SD",110.0,1161.0,0.094746
"Riverside-San Bernardino-Ontario, CA",2730.0,3952.0,0.690789
"Sacramento-Roseville-Folsom, CA",5397.0,7582.0,0.711817
"San Antonio-New Braunfels, TX",835.0,1165.0,0.716738
"San Francisco-Oakland-Berkeley, CA",8800.0,9359.0,0.940271
"San Jose-Sunnyvale-Santa Clara, CA",1874.0,2292.0,0.817627
"Sioux Falls, SD",115.0,450.0,0.255556
"Springfield, MA",970.0,1567.0,0.619017
"St. Louis, MO-IL",2216.0,3130.0,0.707987
"Stockton, CA",1041.0,1372.0,0.758746
"Torrington, CT",854.0,1171.0,0.729291

In [18]:
# Calculate combined fill rate of all MSA 
total_filled = shifts['FILLED_SHIFTS'].sum()
total_posted = shifts['POSTED_SHIFTS'].sum()
print(total_filled / total_posted)

0.7937024972855592