In [1]:
import pandas as pd
import numpy as np
data1 = "1_paid_marketing.csv"
data2 = "2_hcp_data.csv"
data3 = "3_shifts_data.csv"
campaigns = pd.read_csv(data1)
hcp = pd.read_csv(data2)
shifts = pd.read_csv(data3)

In [2]:
hcp

,HCP_ID,MSA,QUALIFICATION,CREATED_AT,LICENSE_REVIEWED,ONBOARD_AT,FIRST_CLAIM_TIME,FIRST_SHIFT_TIME,LIFETIME_SHIFTS,REFERRER,CAMPAIGN_KEY
0,633be91bfb9a096b9e4d3a82,"Wichita, KS",CNA,10/5/22,10/13/22,10/29/22,11/1/22,11/21/22,2,NaN,17631861264
1,632d018f9603d7808339a6bb,"Tampa-St. Petersburg-Clearwater, FL",CNA,9/23/22,NaN,NaN,NaN,NaN,,NaN,17631861264
2,6361931a7ccb0c3b06407c33,"Scranton--Wilkes-Barre, PA",RN,11/1/22,11/1/22,NaN,NaN,NaN,,NaN,18530777721
3,62feb63c88ad3001baf3108f,"St. Louis, MO-IL",CNA,8/18/22,8/18/22,NaN,NaN,NaN,,NaN,17631861264
4,63841ac43540dfe4c2ec0996,"Cincinnati, OH-KY-IN",CNA,11/28/22,11/28/22,NaN,NaN,NaN,,NaN,18530777721
5,63713dba7ccb0c3b06b860e4,"Milwaukee-Waukesha, WI",CNA,11/13/22,11/13/22,NaN,NaN,NaN,,NaN,18530777721
6,628d687b3822a201bff6cf91,"Columbus, OH",CNA,5/24/22,NaN,NaN,NaN,NaN,,NaN,16920183767
7,63309d8c9603d780838a78aa,"Atlanta-Sandy Springs-Alpharetta, GA",LVN,9/25/22,9/26/22,9/26/22,10/10/22,10/16/22,23,NaN,17631861264
8,6374ae287ccb0c3b062e2919,"Miami-Fort Lauderdale-Pompano Beach, FL",CNA,11/16/22,11/16/22,NaN,NaN,NaN,,NaN,18530777721
9,638678383c1385547063e170,"Providence-Warwick, RI-MA",RN,11/29/22,11/29/22,12/1/22,NaN,NaN,,NaN,18661880305
10,6332f4a79603d7808372f2e7,"New York-Newark-Jersey City, NY-NJ-PA",CNA,9/27/22,9/27/22,NaN,NaN,NaN,,NaN,17631861264
11,637be77f094907a12e191fea,"Cleveland-Elyria, OH",CNA,11/21/22,11/21/22,11/22/22,NaN,NaN,,NaN,18530777721
12,62962a46b55ef101c4380265,"Oklahoma City, OK",CNA,5/31/22,5/31/22,NaN,NaN,NaN,,NaN,16920183767
13,633f6d8efb9a096b9ea2dd76,"Birmingham-Hoover, AL",CNA,10/7/22,NaN,NaN,NaN,NaN,,NaN,18995842014
14,63786af67ccb0c3b063df3b6,"Modesto, CA",CNA,11/19/22,11/19/22,11/28/22,NaN,NaN,,NaN,18672087778
15,628c9e7c33722f01c25a0063,"Oklahoma City, OK",RN,5/24/22,5/24/22,NaN,NaN,NaN,,NaN,16920183767
16,61e75e34dfb86b018a0d7cf7,"Minneapolis-St. Paul-Bloomington, MN-WI",CNA,1/19/22,5/24/22,5/24/22,6/1/22,6/3/22,49,NaN,15595984274
17,63181e2448fe0701b4c13ef6,"Milwaukee-Waukesha, WI",CNA,9/7/22,9/8/22,10/22/22,NaN,NaN,,NaN,18530777721
18,636ebd8c7ccb0c3b066a7561,"Riverside-San Bernardino-Ontario, CA",LVN,11/11/22,11/11/22,12/19/22,NaN,NaN,,NaN,18530777721
19,62304224dafae501aee7d970,"Seattle-Tacoma-Bellevue, WA",RN,3/15/22,3/15/22,NaN,NaN,NaN,,NaN,15595984274
20,6373e14e7ccb0c3b0675f8f6,"Dallas-Fort Worth-Arlington, TX",LVN,11/15/22,11/15/22,NaN,NaN,NaN,,NaN,18530777721
21,62eeaf95732de201b4992cc3,"Worcester, MA-CT",LVN,8/6/22,8/6/22,NaN,NaN,NaN,,NaN,17631861264
22,63669ca17ccb0c3b06f96785,"Dallas-Fort Worth-Arlington, TX",RN,11/5/22,11/5/22,11/13/22,NaN,NaN,,NaN,18564690861
23,6335c00b9603d78083e59772,"Chicago-Naperville-Elgin, IL-IN-WI",CNA,9/29/22,10/8/22,10/8/22,10/8/22,10/24/22,13,NaN,17631861264
24,634cbf367ccb0c3b060894d5,"Providence-Warwick, RI-MA",CNA,10/17/22,12/4/22,NaN,NaN,NaN,,NaN,17631861264
25,62cd10fd3ee0b401be8f39bf,"Portland-Vancouver-Hillsboro, OR-WA",LVN,7/12/22,7/12/22,NaN,NaN,NaN,,NaN,17673624632
26,636cc6657ccb0c3b063196aa,"Portland-Vancouver-Hillsboro, OR-WA",RN,11/10/22,11/10/22,NaN,NaN,NaN,,NaN,18563342133
27,62564906cd688101aed6d496,"Deltona-Daytona Beach-Ormond Beach, FL",CNA,4/13/22,NaN,NaN,NaN,NaN,,NaN,13743509691
28,6300e92455d71301b7e088bc,"Chicago-Naperville-Elgin, IL-IN-WI",CNA,8/20/22,8/20/22,NaN,NaN,NaN,,62bb71c8976ef101be0c6e8b,17631861264
29,636f13647ccb0c3b06e69dd5,"Chicago-Naperville-Elgin, IL-IN-WI",RN,11/12/22,11/12/22,NaN,NaN,NaN,,NaN,18530777721
...,...,...,...,...,...,...,...,...,...,...,...
67287,625ed3aa81fd7901b1c6861f,"Baton Rouge, LA",CNA,4/19/22,4/19/22,7/13/22,NaN,NaN,,NaN,na
67288,61db8f73891a9a018ac17d69,"Dallas-Fort Worth-Arlington, TX",LVN,1/10/22,1/13/22,1/27/22,NaN,NaN,,NaN,na
67289,631a84129603d78083c5b5c1,"Little Rock-North Little Rock-Conway, AR",RN,9/9/22,9/9/22,NaN,NaN,NaN,,NaN,na
67290,6341cac1fb9a096b9e0bb046,"Cleveland-Elyria, OH",RN,10/8/22,10/9/22,NaN,NaN,NaN,,NaN,15645881423
67291,625a4dbb8fd22d01ac345e2e,"Topeka, KS",CNA,4/16/22,4/16/22,NaN,NaN,NaN,,NaN,SO_Corvallis_CNA
67292,6336532e9603d780838b0383,"Janesville-Beloit, WI",CNA,9/30/22,9/30/22,10/1/22,10/4/22,10/7/22,30,6182b8b76d4880018089fbc4,na
67293,637ef3713540dfe4c20f5dbc,"Birmingham-Hoover, AL",RN,11/24/22,NaN,NaN,NaN,NaN,,NaN,18538702788
67294,620e81aefefb4a071ed34d98,"Dallas-Fort Worth-Arlington, TX",RN,2/17/22,2/17/22,NaN,NaN,NaN,,NaN,na
67295,62aea85ffdee9601c01ac4fe,"New York-Newark-Jersey City, NY-NJ-PA",RN,6/19/22,6/19/22,NaN,NaN,NaN,,NaN,na
67296,6302514ef7eac001bd58fd59,"Vineland-Bridgeton, NJ",LVN,8/21/22,9/8/22,9/8/22,NaN,NaN,,623ceb27be04a701ac573e72,13743509691
67297,62f6b7b938b5d301b64b45d7,"Abilene, TX",CNA,8/12/22,8/12/22,NaN,NaN,NaN,,NaN,na
67298,630e3c1c071be001bbc9a9b5,"Lafayette, LA",CNA,8/30/22,NaN,NaN,NaN,NaN,,NaN,na
67299,621e0e34d2177101acb4b1d4,"Tallahassee, FL",CNA,3/1/22,3/1/22,NaN,NaN,NaN,,NaN,na
67300,61e57e42884c05018aa6dd96,"Cookeville, TN",LVN,1/17/22,1/17/22,NaN,NaN,NaN,,NaN,na
67301,635ffea17ccb0c3b0625642a,"Killeen-Temple, TX",RN,10/31/22,10/31/22,NaN,NaN,NaN,,NaN,na
67302,6353a7ae7ccb0c3b06b7a911,"Youngstown-Warren-Boardman, OH-PA",CNA,10/22/22,10/31/22,10/24/22,10/25/22,10/25/22,23,628da8885fc00601bd54dbed,na
67303,6370288d7ccb0c3b0612ec76,"Hartford-East Hartford-Middletown, CT",CNA,11/12/22,11/12/22,NaN,NaN,NaN,,635ea4747ccb0c3b068379a8,na
67304,630327f77bff6901b3f655b7,"St. Louis, MO-IL",LVN,8/22/22,8/22/22,9/14/22,11/4/22,NaN,,62f8bcbee326d601b71ec249,na
67305,62529a94c81e5201b03385b1,"Los Angeles-Long Beach-Anaheim, CA",CNA,4/10/22,7/12/22,7/22/22,7/22/22,7/24/22,11,62ccbe7bd0f4e801c0233212,na
67306,636599fd7ccb0c3b06475c7e,"Riverside-San Bernardino-Ontario, CA",LVN,11/4/22,11/4/22,11/29/22,11/29/22,11/29/22,24,NaN,15645881423
67307,624ceb0cf7bfa501ab6ce83c,"Columbus, OH",LVN,4/6/22,4/6/22,NaN,NaN,NaN,,NaN,na
67308,628eacd3f5e55001c184da95,"Hartford-East Hartford-Middletown, CT",LVN,5/25/22,8/31/22,8/31/22,8/31/22,9/1/22,20,NaN,15645881423
67309,62028c6541601401a9cbfc7f,"New York-Newark-Jersey City, NY-NJ-PA",CNA,2/8/22,2/8/22,NaN,NaN,NaN,,NaN,na
67310,62250caff4f44601a8e48878,"Cleveland-Elyria, OH",CNA,3/6/22,3/6/22,3/22/22,3/31/22,4/3/22,10,NaN,na
67311,62a5324fa8bbaa5419d8e2d1,"Nashville-Davidson--Murfreesboro--Franklin, TN",LVN,6/12/22,6/12/22,7/1/22,7/30/22,8/9/22,4,62685dd8f9e3ce01b8e50347,na
67312,61eed384dccafb018aad8bd6,"Cleveland-Elyria, OH",CNA,1/24/22,NaN,NaN,NaN,NaN,,NaN,na
67313,621fe2d297714501afbf0c9c,"Lufkin, TX",CNA,3/2/22,3/2/22,3/15/22,3/17/22,7/17/22,10,NaN,na
67314,6246682ef3f9e901b2ebcad3,"Washington-Arlington-Alexandria, DC-VA-MD-WV",RN,4/1/22,4/1/22,NaN,NaN,NaN,,NaN,na
67315,62159ce57eb41b01a79eca52,"Atlanta-Sandy Springs-Alpharetta, GA",CNA,2/23/22,3/1/22,3/2/22,3/3/22,3/4/22,19,NaN,na
67316,62630ff729c36201acbc9890,"Charleston-North Charleston, SC",RN,4/22/22,4/22/22,NaN,NaN,NaN,,NaN,na

In [3]:
# Store number of accounts
tot_accounts = hcp['HCP_ID'].count()
tot_accounts

67317

In [4]:
# Remove accounts without a shift
working_hcp = pd.read_csv(data2)
working_hcp.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)

In [5]:
# Store number of accounts that have worked
tot_working_accounts = working_hcp['HCP_ID'].count()
tot_working_accounts

16350

In [6]:
# Remove accounts without a referral
referral_accounts = pd.read_csv(data2)
referral_accounts.dropna(subset = ['REFERRER'], inplace=True)

In [7]:
# Store number of referrals
tot_refers = referral_accounts['REFERRER'].count()
tot_refers

9167

In [8]:
# Remove referral accounts without a shift
referral_accounts.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)

In [9]:
# Store number of converted referrals
tot_conv_refers = referral_accounts['REFERRER'].count()
tot_conv_refers

6541

In [10]:
# Conversion rate of references
conv_rate = tot_conv_refers / tot_refers
conv_rate

0.7135376895385622

In [11]:
# Percent of workers who cliamed reference
ref_workers = tot_conv_refers / tot_working_accounts
ref_workers

0.4000611620795107

In [12]:
# Finding reference conversion rates and percent of workers with reference in
# Los Angeles and Nashville areas

In [13]:
# Find unique values for MSA
hcp['MSA'].value_counts()

Chicago-Naperville-Elgin, IL-IN-WI             5803
Los Angeles-Long Beach-Anaheim, CA             3746
New York-Newark-Jersey City, NY-NJ-PA          3162
Dallas-Fort Worth-Arlington, TX                2041
Riverside-San Bernardino-Ontario, CA           1900
Cleveland-Elyria, OH                           1838
Atlanta-Sandy Springs-Alpharetta, GA           1772
Philadelphia-Camden-Wilmington, PA-NJ-DE-MD    1769
Houston-The Woodlands-Sugar Land, TX           1522
Detroit-Warren-Dearborn, MI                    1246
St. Louis, MO-IL                               1163
San Diego-Chula Vista-Carlsbad, CA             1128
Pittsburgh, PA                                 1097
Miami-Fort Lauderdale-Pompano Beach, FL        1048
San Francisco-Oakland-Berkeley, CA             1025
Cincinnati, OH-KY-IN                           1004
Phoenix-Mesa-Chandler, AZ                       946
Milwaukee-Waukesha, WI                          878
Sacramento-Roseville-Folsom, CA                 814
Tampa-St. Petersburg-Clearwater, FL             805
Minneapolis-St. Paul-Bloomington, MN-WI         775
Las Vegas-Henderson-Paradise, NV                769
Portland-Vancouver-Hillsboro, OR-WA             740
Orlando-Kissimmee-Sanford, FL                   658
Columbus, OH                                    644
Jacksonville, FL                                641
Charlotte-Concord-Gastonia, NC-SC               634
Louisville/Jefferson County, KY-IN              592
Seattle-Tacoma-Bellevue, WA                     592
Kansas City, MO-KS                              568
                                               ...
Farmington, NM                                    1
Charleston-North Charleston-Summerville, SC       1
Seneca Falls, NY                                  1
San Francisco-Oakland-Fremont, CA                 1
Alma, MI                                          1
Scottsboro, AL                                    1
Silver City, NM                                   1
Malone, NY                                        1
Fredericksburg, TX                                1
Cambridge, MD                                     1
Logansport, IN                                    1
Brainerd, MN                                      1
Mount Gay-Shamrock, WV                            1
Branson, MO                                       1
Raymondville, TX                                  1
La Follette, TN                                   1
Lafayette, IN                                     1
Williston, ND                                     1
Borger, TX                                        1
Cordele, GA                                       1
Fairmont, MN                                      1
Kingsport-Bristol-Bristol, TN-VA                  1
La Crosse, WI-MN                                  1
Hays, KS                                          1
Coos Bay, OR                                      1
Vincennes, IN                                     1
Brookings, SD                                     1
Kill Devil Hills, NC                              1
Grand Forks, ND-MN                                1
Craig, CO                                         1
Name: MSA, Length: 878, dtype: int64

In [14]:
# Splitting MSA into state for easier filtering below
hcp[['MSA', 'state']] = hcp['MSA'].str.split(', ', 1, expand=True)
hcp

,HCP_ID,MSA,QUALIFICATION,CREATED_AT,LICENSE_REVIEWED,ONBOARD_AT,FIRST_CLAIM_TIME,FIRST_SHIFT_TIME,LIFETIME_SHIFTS,REFERRER,CAMPAIGN_KEY,state
0,633be91bfb9a096b9e4d3a82,Wichita,CNA,10/5/22,10/13/22,10/29/22,11/1/22,11/21/22,2,NaN,17631861264,KS
1,632d018f9603d7808339a6bb,Tampa-St. Petersburg-Clearwater,CNA,9/23/22,NaN,NaN,NaN,NaN,,NaN,17631861264,FL
2,6361931a7ccb0c3b06407c33,Scranton--Wilkes-Barre,RN,11/1/22,11/1/22,NaN,NaN,NaN,,NaN,18530777721,PA
3,62feb63c88ad3001baf3108f,St. Louis,CNA,8/18/22,8/18/22,NaN,NaN,NaN,,NaN,17631861264,MO-IL
4,63841ac43540dfe4c2ec0996,Cincinnati,CNA,11/28/22,11/28/22,NaN,NaN,NaN,,NaN,18530777721,OH-KY-IN
5,63713dba7ccb0c3b06b860e4,Milwaukee-Waukesha,CNA,11/13/22,11/13/22,NaN,NaN,NaN,,NaN,18530777721,WI
6,628d687b3822a201bff6cf91,Columbus,CNA,5/24/22,NaN,NaN,NaN,NaN,,NaN,16920183767,OH
7,63309d8c9603d780838a78aa,Atlanta-Sandy Springs-Alpharetta,LVN,9/25/22,9/26/22,9/26/22,10/10/22,10/16/22,23,NaN,17631861264,GA
8,6374ae287ccb0c3b062e2919,Miami-Fort Lauderdale-Pompano Beach,CNA,11/16/22,11/16/22,NaN,NaN,NaN,,NaN,18530777721,FL
9,638678383c1385547063e170,Providence-Warwick,RN,11/29/22,11/29/22,12/1/22,NaN,NaN,,NaN,18661880305,RI-MA
10,6332f4a79603d7808372f2e7,New York-Newark-Jersey City,CNA,9/27/22,9/27/22,NaN,NaN,NaN,,NaN,17631861264,NY-NJ-PA
11,637be77f094907a12e191fea,Cleveland-Elyria,CNA,11/21/22,11/21/22,11/22/22,NaN,NaN,,NaN,18530777721,OH
12,62962a46b55ef101c4380265,Oklahoma City,CNA,5/31/22,5/31/22,NaN,NaN,NaN,,NaN,16920183767,OK
13,633f6d8efb9a096b9ea2dd76,Birmingham-Hoover,CNA,10/7/22,NaN,NaN,NaN,NaN,,NaN,18995842014,AL
14,63786af67ccb0c3b063df3b6,Modesto,CNA,11/19/22,11/19/22,11/28/22,NaN,NaN,,NaN,18672087778,CA
15,628c9e7c33722f01c25a0063,Oklahoma City,RN,5/24/22,5/24/22,NaN,NaN,NaN,,NaN,16920183767,OK
16,61e75e34dfb86b018a0d7cf7,Minneapolis-St. Paul-Bloomington,CNA,1/19/22,5/24/22,5/24/22,6/1/22,6/3/22,49,NaN,15595984274,MN-WI
17,63181e2448fe0701b4c13ef6,Milwaukee-Waukesha,CNA,9/7/22,9/8/22,10/22/22,NaN,NaN,,NaN,18530777721,WI
18,636ebd8c7ccb0c3b066a7561,Riverside-San Bernardino-Ontario,LVN,11/11/22,11/11/22,12/19/22,NaN,NaN,,NaN,18530777721,CA
19,62304224dafae501aee7d970,Seattle-Tacoma-Bellevue,RN,3/15/22,3/15/22,NaN,NaN,NaN,,NaN,15595984274,WA
20,6373e14e7ccb0c3b0675f8f6,Dallas-Fort Worth-Arlington,LVN,11/15/22,11/15/22,NaN,NaN,NaN,,NaN,18530777721,TX
21,62eeaf95732de201b4992cc3,Worcester,LVN,8/6/22,8/6/22,NaN,NaN,NaN,,NaN,17631861264,MA-CT
22,63669ca17ccb0c3b06f96785,Dallas-Fort Worth-Arlington,RN,11/5/22,11/5/22,11/13/22,NaN,NaN,,NaN,18564690861,TX
23,6335c00b9603d78083e59772,Chicago-Naperville-Elgin,CNA,9/29/22,10/8/22,10/8/22,10/8/22,10/24/22,13,NaN,17631861264,IL-IN-WI
24,634cbf367ccb0c3b060894d5,Providence-Warwick,CNA,10/17/22,12/4/22,NaN,NaN,NaN,,NaN,17631861264,RI-MA
25,62cd10fd3ee0b401be8f39bf,Portland-Vancouver-Hillsboro,LVN,7/12/22,7/12/22,NaN,NaN,NaN,,NaN,17673624632,OR-WA
26,636cc6657ccb0c3b063196aa,Portland-Vancouver-Hillsboro,RN,11/10/22,11/10/22,NaN,NaN,NaN,,NaN,18563342133,OR-WA
27,62564906cd688101aed6d496,Deltona-Daytona Beach-Ormond Beach,CNA,4/13/22,NaN,NaN,NaN,NaN,,NaN,13743509691,FL
28,6300e92455d71301b7e088bc,Chicago-Naperville-Elgin,CNA,8/20/22,8/20/22,NaN,NaN,NaN,,62bb71c8976ef101be0c6e8b,17631861264,IL-IN-WI
29,636f13647ccb0c3b06e69dd5,Chicago-Naperville-Elgin,RN,11/12/22,11/12/22,NaN,NaN,NaN,,NaN,18530777721,IL-IN-WI
...,...,...,...,...,...,...,...,...,...,...,...,...
67287,625ed3aa81fd7901b1c6861f,Baton Rouge,CNA,4/19/22,4/19/22,7/13/22,NaN,NaN,,NaN,na,LA
67288,61db8f73891a9a018ac17d69,Dallas-Fort Worth-Arlington,LVN,1/10/22,1/13/22,1/27/22,NaN,NaN,,NaN,na,TX
67289,631a84129603d78083c5b5c1,Little Rock-North Little Rock-Conway,RN,9/9/22,9/9/22,NaN,NaN,NaN,,NaN,na,AR
67290,6341cac1fb9a096b9e0bb046,Cleveland-Elyria,RN,10/8/22,10/9/22,NaN,NaN,NaN,,NaN,15645881423,OH
67291,625a4dbb8fd22d01ac345e2e,Topeka,CNA,4/16/22,4/16/22,NaN,NaN,NaN,,NaN,SO_Corvallis_CNA,KS
67292,6336532e9603d780838b0383,Janesville-Beloit,CNA,9/30/22,9/30/22,10/1/22,10/4/22,10/7/22,30,6182b8b76d4880018089fbc4,na,WI
67293,637ef3713540dfe4c20f5dbc,Birmingham-Hoover,RN,11/24/22,NaN,NaN,NaN,NaN,,NaN,18538702788,AL
67294,620e81aefefb4a071ed34d98,Dallas-Fort Worth-Arlington,RN,2/17/22,2/17/22,NaN,NaN,NaN,,NaN,na,TX
67295,62aea85ffdee9601c01ac4fe,New York-Newark-Jersey City,RN,6/19/22,6/19/22,NaN,NaN,NaN,,NaN,na,NY-NJ-PA
67296,6302514ef7eac001bd58fd59,Vineland-Bridgeton,LVN,8/21/22,9/8/22,9/8/22,NaN,NaN,,623ceb27be04a701ac573e72,13743509691,NJ
67297,62f6b7b938b5d301b64b45d7,Abilene,CNA,8/12/22,8/12/22,NaN,NaN,NaN,,NaN,na,TX
67298,630e3c1c071be001bbc9a9b5,Lafayette,CNA,8/30/22,NaN,NaN,NaN,NaN,,NaN,na,LA
67299,621e0e34d2177101acb4b1d4,Tallahassee,CNA,3/1/22,3/1/22,NaN,NaN,NaN,,NaN,na,FL
67300,61e57e42884c05018aa6dd96,Cookeville,LVN,1/17/22,1/17/22,NaN,NaN,NaN,,NaN,na,TN
67301,635ffea17ccb0c3b0625642a,Killeen-Temple,RN,10/31/22,10/31/22,NaN,NaN,NaN,,NaN,na,TX
67302,6353a7ae7ccb0c3b06b7a911,Youngstown-Warren-Boardman,CNA,10/22/22,10/31/22,10/24/22,10/25/22,10/25/22,23,628da8885fc00601bd54dbed,na,OH-PA
67303,6370288d7ccb0c3b0612ec76,Hartford-East Hartford-Middletown,CNA,11/12/22,11/12/22,NaN,NaN,NaN,,635ea4747ccb0c3b068379a8,na,CT
67304,630327f77bff6901b3f655b7,St. Louis,LVN,8/22/22,8/22/22,9/14/22,11/4/22,NaN,,62f8bcbee326d601b71ec249,na,MO-IL
67305,62529a94c81e5201b03385b1,Los Angeles-Long Beach-Anaheim,CNA,4/10/22,7/12/22,7/22/22,7/22/22,7/24/22,11,62ccbe7bd0f4e801c0233212,na,CA
67306,636599fd7ccb0c3b06475c7e,Riverside-San Bernardino-Ontario,LVN,11/4/22,11/4/22,11/29/22,11/29/22,11/29/22,24,NaN,15645881423,CA
67307,624ceb0cf7bfa501ab6ce83c,Columbus,LVN,4/6/22,4/6/22,NaN,NaN,NaN,,NaN,na,OH
67308,628eacd3f5e55001c184da95,Hartford-East Hartford-Middletown,LVN,5/25/22,8/31/22,8/31/22,8/31/22,9/1/22,20,NaN,15645881423,CT
67309,62028c6541601401a9cbfc7f,New York-Newark-Jersey City,CNA,2/8/22,2/8/22,NaN,NaN,NaN,,NaN,na,NY-NJ-PA
67310,62250caff4f44601a8e48878,Cleveland-Elyria,CNA,3/6/22,3/6/22,3/22/22,3/31/22,4/3/22,10,NaN,na,OH
67311,62a5324fa8bbaa5419d8e2d1,Nashville-Davidson--Murfreesboro--Franklin,LVN,6/12/22,6/12/22,7/1/22,7/30/22,8/9/22,4,62685dd8f9e3ce01b8e50347,na,TN
67312,61eed384dccafb018aad8bd6,Cleveland-Elyria,CNA,1/24/22,NaN,NaN,NaN,NaN,,NaN,na,OH
67313,621fe2d297714501afbf0c9c,Lufkin,CNA,3/2/22,3/2/22,3/15/22,3/17/22,7/17/22,10,NaN,na,TX
67314,6246682ef3f9e901b2ebcad3,Washington-Arlington-Alexandria,RN,4/1/22,4/1/22,NaN,NaN,NaN,,NaN,na,DC-VA-MD-WV
67315,62159ce57eb41b01a79eca52,Atlanta-Sandy Springs-Alpharetta,CNA,2/23/22,3/1/22,3/2/22,3/3/22,3/4/22,19,NaN,na,GA
67316,62630ff729c36201acbc9890,Charleston-North Charleston,RN,4/22/22,4/22/22,NaN,NaN,NaN,,NaN,na,SC

In [15]:
# Creating separate dataframes for California and Tennessee
cal_hcp = hcp.loc[hcp['state']=='CA']
ten_hcp = hcp.loc[hcp['state']=='TN']

In [16]:
# Easier to see unique values for Cal, and Ten below
cal_hcp['MSA'].value_counts()

Los Angeles-Long Beach-Anaheim      3746
Riverside-San Bernardino-Ontario    1900
San Diego-Chula Vista-Carlsbad      1128
San Francisco-Oakland-Berkeley      1025
Sacramento-Roseville-Folsom          814
Stockton                             466
Fresno                               428
San Jose-Sunnyvale-Santa Clara       392
Modesto                              335
Chico                                190
Vallejo                              175
Visalia                              111
Merced                                97
Oxnard-Thousand Oaks-Ventura          90
Santa Rosa-Petaluma                   69
Salinas                               64
Yuba City                             55
Madera                                52
Hanford-Corcoran                      37
Napa                                  36
Bakersfield                           32
Redding                               28
Santa Cruz-Watsonville                23
Santa Maria-Santa Barbara             18
Truckee-Grass Valley                  16
Red Bluff                             15
Sonora                                11
Ukiah                                 10
El Centro                              9
San Luis Obispo-Paso Robles            9
Clearlake                              8
Eureka-Arcata                          7
Susanville                             5
Crescent City                          2
San Francisco-Oakland-Fremont          1
Name: MSA, dtype: int64

In [17]:
ten_hcp['MSA'].value_counts()

Nashville-Davidson--Murfreesboro--Franklin    445
Knoxville                                     136
Jackson                                        49
Tullahoma-Manchester                           25
Johnson City                                   20
Athens                                         15
Cleveland                                      12
Sevierville                                    12
Morristown                                     12
Cookeville                                     12
Crossville                                     11
McMinnville                                    10
Brownsville                                     9
Shelbyville                                     9
Union City                                      9
Lewisburg                                       9
Dyersburg                                       6
Newport                                         6
Paris                                           5
Martin                                          4
Lawrenceburg                                    3
Dayton                                          2
Greeneville                                     2
La Follette                                     1
Name: MSA, dtype: int64

In [21]:
# Create LA and Nash dataframes
la_hcp = cal_hcp.loc[cal_hcp['MSA']=='Los Angeles-Long Beach-Anaheim'].copy()
nash_hcp = ten_hcp.loc[ten_hcp['MSA']=='Nashville-Davidson--Murfreesboro--Franklin'].copy()

In [22]:
# Remove inactive accounts and store active accounts in LA and Nash below
la_hcp.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)
la_working_accounts = la_hcp['HCP_ID'].count()
la_working_accounts

1297

In [23]:
nash_hcp.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)
nash_working_accounts = nash_hcp['HCP_ID'].count()
nash_working_accounts

117

In [24]:
# Create LA and Nash dataframes again
la_hcp = cal_hcp.loc[cal_hcp['MSA']=='Los Angeles-Long Beach-Anaheim'].copy()
nash_hcp = ten_hcp.loc[ten_hcp['MSA']=='Nashville-Davidson--Murfreesboro--Franklin'].copy()

In [25]:
# Remove accounts without referrals and store referral accounts in LA and Nash below
la_hcp.dropna(subset = ['REFERRER'], inplace=True)
la_refer_accounts = la_hcp['REFERRER'].count()
la_refer_accounts

620

In [26]:
nash_hcp.dropna(subset = ['REFERRER'], inplace=True)
nash_refer_accounts = nash_hcp['REFERRER'].count()
nash_refer_accounts

83

In [27]:
# Store number of converted referrals for both LA and Nash
la_hcp.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)
nash_hcp.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)
la_conv_refers = la_hcp['REFERRER'].count()
nash_conv_refers = nash_hcp['REFERRER'].count()
la_conv_refers

453

In [28]:
la_ref_conv_rate = la_conv_refers / la_refer_accounts
nash_ref_conv_rate = nash_conv_refers / nash_refer_accounts
print(la_ref_conv_rate)
print(nash_ref_conv_rate)
print(conv_rate)

0.7306451612903225
0.7710843373493976
0.7135376895385622

In [29]:
la_ref_workers = la_conv_refers / la_working_accounts
nash_ref_workers = nash_conv_refers / nash_working_accounts
print(la_ref_workers)
print(nash_ref_workers)
print(ref_workers)

0.3492675404780262
0.5470085470085471
0.4000611620795107