In [1]:
import pandas as pd
import numpy as np
data1 = "1_paid_marketing.csv"
data2 = "2_hcp_data.csv"
data3 = "3_shifts_data.csv"
campaigns = pd.read_csv(data1)
hcp = pd.read_csv(data2)
shifts = pd.read_csv(data3)

# Set up data for LA and Nashville analysis

In [2]:
# Convert datatype of lifetime shifts
hcp.LIFETIME_SHIFTS = pd.to_numeric(hcp['LIFETIME_SHIFTS'], errors='coerce')

In [3]:
# Find unique values for MSA
hcp['MSA'].value_counts()

Chicago-Naperville-Elgin, IL-IN-WI             5803
Los Angeles-Long Beach-Anaheim, CA             3746
New York-Newark-Jersey City, NY-NJ-PA          3162
Dallas-Fort Worth-Arlington, TX                2041
Riverside-San Bernardino-Ontario, CA           1900
Cleveland-Elyria, OH                           1838
Atlanta-Sandy Springs-Alpharetta, GA           1772
Philadelphia-Camden-Wilmington, PA-NJ-DE-MD    1769
Houston-The Woodlands-Sugar Land, TX           1522
Detroit-Warren-Dearborn, MI                    1246
St. Louis, MO-IL                               1163
San Diego-Chula Vista-Carlsbad, CA             1128
Pittsburgh, PA                                 1097
Miami-Fort Lauderdale-Pompano Beach, FL        1048
San Francisco-Oakland-Berkeley, CA             1025
Cincinnati, OH-KY-IN                           1004
Phoenix-Mesa-Chandler, AZ                       946
Milwaukee-Waukesha, WI                          878
Sacramento-Roseville-Folsom, CA                 814
Tampa-St. Petersburg-Clearwater, FL             805
Minneapolis-St. Paul-Bloomington, MN-WI         775
Las Vegas-Henderson-Paradise, NV                769
Portland-Vancouver-Hillsboro, OR-WA             740
Orlando-Kissimmee-Sanford, FL                   658
Columbus, OH                                    644
Jacksonville, FL                                641
Charlotte-Concord-Gastonia, NC-SC               634
Louisville/Jefferson County, KY-IN              592
Seattle-Tacoma-Bellevue, WA                     592
Kansas City, MO-KS                              568
                                               ...
Selinsgrove, PA                                   1
Vermillion, SD                                    1
Clovis, NM                                        1
Cambridge, MD                                     1
Mount Pleasant, MI                                1
Hartford-West Hartford-East Hartford, CT          1
Heber, UT                                         1
Breckenridge, CO                                  1
Gallup, NM                                        1
Fairmont, MN                                      1
Pocatello, ID                                     1
Mount Gay-Shamrock, WV                            1
Easton, MD                                        1
Grand Forks, ND-MN                                1
Cordele, GA                                       1
Angola, IN                                        1
Port Angeles, WA                                  1
Silver City, NM                                   1
Williston, ND                                     1
San Francisco-Oakland-Fremont, CA                 1
Fredericksburg, TX                                1
Kingsport-Bristol-Bristol, TN-VA                  1
Tuskegee, AL                                      1
Keene, NH                                         1
Craig, CO                                         1
Grants, NM                                        1
La Follette, TN                                   1
Harrisburg, IL                                    1
Sweetwater, TX                                    1
Blackfoot, ID                                     1
Name: MSA, Length: 878, dtype: int64

In [4]:
# Splitting MSA into state for easier filtering below
hcp[['MSA', 'state']] = hcp['MSA'].str.split(', ', 1, expand=True)
hcp

,HCP_ID,MSA,QUALIFICATION,CREATED_AT,LICENSE_REVIEWED,ONBOARD_AT,FIRST_CLAIM_TIME,FIRST_SHIFT_TIME,LIFETIME_SHIFTS,REFERRER,CAMPAIGN_KEY,state
0,633be91bfb9a096b9e4d3a82,Wichita,CNA,10/5/22,10/13/22,10/29/22,11/1/22,11/21/22,2.0,NaN,17631861264,KS
1,632d018f9603d7808339a6bb,Tampa-St. Petersburg-Clearwater,CNA,9/23/22,NaN,NaN,NaN,NaN,NaN,NaN,17631861264,FL
2,6361931a7ccb0c3b06407c33,Scranton--Wilkes-Barre,RN,11/1/22,11/1/22,NaN,NaN,NaN,NaN,NaN,18530777721,PA
3,62feb63c88ad3001baf3108f,St. Louis,CNA,8/18/22,8/18/22,NaN,NaN,NaN,NaN,NaN,17631861264,MO-IL
4,63841ac43540dfe4c2ec0996,Cincinnati,CNA,11/28/22,11/28/22,NaN,NaN,NaN,NaN,NaN,18530777721,OH-KY-IN
5,63713dba7ccb0c3b06b860e4,Milwaukee-Waukesha,CNA,11/13/22,11/13/22,NaN,NaN,NaN,NaN,NaN,18530777721,WI
6,628d687b3822a201bff6cf91,Columbus,CNA,5/24/22,NaN,NaN,NaN,NaN,NaN,NaN,16920183767,OH
7,63309d8c9603d780838a78aa,Atlanta-Sandy Springs-Alpharetta,LVN,9/25/22,9/26/22,9/26/22,10/10/22,10/16/22,23.0,NaN,17631861264,GA
8,6374ae287ccb0c3b062e2919,Miami-Fort Lauderdale-Pompano Beach,CNA,11/16/22,11/16/22,NaN,NaN,NaN,NaN,NaN,18530777721,FL
9,638678383c1385547063e170,Providence-Warwick,RN,11/29/22,11/29/22,12/1/22,NaN,NaN,NaN,NaN,18661880305,RI-MA
10,6332f4a79603d7808372f2e7,New York-Newark-Jersey City,CNA,9/27/22,9/27/22,NaN,NaN,NaN,NaN,NaN,17631861264,NY-NJ-PA
11,637be77f094907a12e191fea,Cleveland-Elyria,CNA,11/21/22,11/21/22,11/22/22,NaN,NaN,NaN,NaN,18530777721,OH
12,62962a46b55ef101c4380265,Oklahoma City,CNA,5/31/22,5/31/22,NaN,NaN,NaN,NaN,NaN,16920183767,OK
13,633f6d8efb9a096b9ea2dd76,Birmingham-Hoover,CNA,10/7/22,NaN,NaN,NaN,NaN,NaN,NaN,18995842014,AL
14,63786af67ccb0c3b063df3b6,Modesto,CNA,11/19/22,11/19/22,11/28/22,NaN,NaN,NaN,NaN,18672087778,CA
15,628c9e7c33722f01c25a0063,Oklahoma City,RN,5/24/22,5/24/22,NaN,NaN,NaN,NaN,NaN,16920183767,OK
16,61e75e34dfb86b018a0d7cf7,Minneapolis-St. Paul-Bloomington,CNA,1/19/22,5/24/22,5/24/22,6/1/22,6/3/22,49.0,NaN,15595984274,MN-WI
17,63181e2448fe0701b4c13ef6,Milwaukee-Waukesha,CNA,9/7/22,9/8/22,10/22/22,NaN,NaN,NaN,NaN,18530777721,WI
18,636ebd8c7ccb0c3b066a7561,Riverside-San Bernardino-Ontario,LVN,11/11/22,11/11/22,12/19/22,NaN,NaN,NaN,NaN,18530777721,CA
19,62304224dafae501aee7d970,Seattle-Tacoma-Bellevue,RN,3/15/22,3/15/22,NaN,NaN,NaN,NaN,NaN,15595984274,WA
20,6373e14e7ccb0c3b0675f8f6,Dallas-Fort Worth-Arlington,LVN,11/15/22,11/15/22,NaN,NaN,NaN,NaN,NaN,18530777721,TX
21,62eeaf95732de201b4992cc3,Worcester,LVN,8/6/22,8/6/22,NaN,NaN,NaN,NaN,NaN,17631861264,MA-CT
22,63669ca17ccb0c3b06f96785,Dallas-Fort Worth-Arlington,RN,11/5/22,11/5/22,11/13/22,NaN,NaN,NaN,NaN,18564690861,TX
23,6335c00b9603d78083e59772,Chicago-Naperville-Elgin,CNA,9/29/22,10/8/22,10/8/22,10/8/22,10/24/22,13.0,NaN,17631861264,IL-IN-WI
24,634cbf367ccb0c3b060894d5,Providence-Warwick,CNA,10/17/22,12/4/22,NaN,NaN,NaN,NaN,NaN,17631861264,RI-MA
25,62cd10fd3ee0b401be8f39bf,Portland-Vancouver-Hillsboro,LVN,7/12/22,7/12/22,NaN,NaN,NaN,NaN,NaN,17673624632,OR-WA
26,636cc6657ccb0c3b063196aa,Portland-Vancouver-Hillsboro,RN,11/10/22,11/10/22,NaN,NaN,NaN,NaN,NaN,18563342133,OR-WA
27,62564906cd688101aed6d496,Deltona-Daytona Beach-Ormond Beach,CNA,4/13/22,NaN,NaN,NaN,NaN,NaN,NaN,13743509691,FL
28,6300e92455d71301b7e088bc,Chicago-Naperville-Elgin,CNA,8/20/22,8/20/22,NaN,NaN,NaN,NaN,62bb71c8976ef101be0c6e8b,17631861264,IL-IN-WI
29,636f13647ccb0c3b06e69dd5,Chicago-Naperville-Elgin,RN,11/12/22,11/12/22,NaN,NaN,NaN,NaN,NaN,18530777721,IL-IN-WI
...,...,...,...,...,...,...,...,...,...,...,...,...
67287,625ed3aa81fd7901b1c6861f,Baton Rouge,CNA,4/19/22,4/19/22,7/13/22,NaN,NaN,NaN,NaN,na,LA
67288,61db8f73891a9a018ac17d69,Dallas-Fort Worth-Arlington,LVN,1/10/22,1/13/22,1/27/22,NaN,NaN,NaN,NaN,na,TX
67289,631a84129603d78083c5b5c1,Little Rock-North Little Rock-Conway,RN,9/9/22,9/9/22,NaN,NaN,NaN,NaN,NaN,na,AR
67290,6341cac1fb9a096b9e0bb046,Cleveland-Elyria,RN,10/8/22,10/9/22,NaN,NaN,NaN,NaN,NaN,15645881423,OH
67291,625a4dbb8fd22d01ac345e2e,Topeka,CNA,4/16/22,4/16/22,NaN,NaN,NaN,NaN,NaN,SO_Corvallis_CNA,KS
67292,6336532e9603d780838b0383,Janesville-Beloit,CNA,9/30/22,9/30/22,10/1/22,10/4/22,10/7/22,30.0,6182b8b76d4880018089fbc4,na,WI
67293,637ef3713540dfe4c20f5dbc,Birmingham-Hoover,RN,11/24/22,NaN,NaN,NaN,NaN,NaN,NaN,18538702788,AL
67294,620e81aefefb4a071ed34d98,Dallas-Fort Worth-Arlington,RN,2/17/22,2/17/22,NaN,NaN,NaN,NaN,NaN,na,TX
67295,62aea85ffdee9601c01ac4fe,New York-Newark-Jersey City,RN,6/19/22,6/19/22,NaN,NaN,NaN,NaN,NaN,na,NY-NJ-PA
67296,6302514ef7eac001bd58fd59,Vineland-Bridgeton,LVN,8/21/22,9/8/22,9/8/22,NaN,NaN,NaN,623ceb27be04a701ac573e72,13743509691,NJ
67297,62f6b7b938b5d301b64b45d7,Abilene,CNA,8/12/22,8/12/22,NaN,NaN,NaN,NaN,NaN,na,TX
67298,630e3c1c071be001bbc9a9b5,Lafayette,CNA,8/30/22,NaN,NaN,NaN,NaN,NaN,NaN,na,LA
67299,621e0e34d2177101acb4b1d4,Tallahassee,CNA,3/1/22,3/1/22,NaN,NaN,NaN,NaN,NaN,na,FL
67300,61e57e42884c05018aa6dd96,Cookeville,LVN,1/17/22,1/17/22,NaN,NaN,NaN,NaN,NaN,na,TN
67301,635ffea17ccb0c3b0625642a,Killeen-Temple,RN,10/31/22,10/31/22,NaN,NaN,NaN,NaN,NaN,na,TX
67302,6353a7ae7ccb0c3b06b7a911,Youngstown-Warren-Boardman,CNA,10/22/22,10/31/22,10/24/22,10/25/22,10/25/22,23.0,628da8885fc00601bd54dbed,na,OH-PA
67303,6370288d7ccb0c3b0612ec76,Hartford-East Hartford-Middletown,CNA,11/12/22,11/12/22,NaN,NaN,NaN,NaN,635ea4747ccb0c3b068379a8,na,CT
67304,630327f77bff6901b3f655b7,St. Louis,LVN,8/22/22,8/22/22,9/14/22,11/4/22,NaN,NaN,62f8bcbee326d601b71ec249,na,MO-IL
67305,62529a94c81e5201b03385b1,Los Angeles-Long Beach-Anaheim,CNA,4/10/22,7/12/22,7/22/22,7/22/22,7/24/22,11.0,62ccbe7bd0f4e801c0233212,na,CA
67306,636599fd7ccb0c3b06475c7e,Riverside-San Bernardino-Ontario,LVN,11/4/22,11/4/22,11/29/22,11/29/22,11/29/22,24.0,NaN,15645881423,CA
67307,624ceb0cf7bfa501ab6ce83c,Columbus,LVN,4/6/22,4/6/22,NaN,NaN,NaN,NaN,NaN,na,OH
67308,628eacd3f5e55001c184da95,Hartford-East Hartford-Middletown,LVN,5/25/22,8/31/22,8/31/22,8/31/22,9/1/22,20.0,NaN,15645881423,CT
67309,62028c6541601401a9cbfc7f,New York-Newark-Jersey City,CNA,2/8/22,2/8/22,NaN,NaN,NaN,NaN,NaN,na,NY-NJ-PA
67310,62250caff4f44601a8e48878,Cleveland-Elyria,CNA,3/6/22,3/6/22,3/22/22,3/31/22,4/3/22,10.0,NaN,na,OH
67311,62a5324fa8bbaa5419d8e2d1,Nashville-Davidson--Murfreesboro--Franklin,LVN,6/12/22,6/12/22,7/1/22,7/30/22,8/9/22,4.0,62685dd8f9e3ce01b8e50347,na,TN
67312,61eed384dccafb018aad8bd6,Cleveland-Elyria,CNA,1/24/22,NaN,NaN,NaN,NaN,NaN,NaN,na,OH
67313,621fe2d297714501afbf0c9c,Lufkin,CNA,3/2/22,3/2/22,3/15/22,3/17/22,7/17/22,10.0,NaN,na,TX
67314,6246682ef3f9e901b2ebcad3,Washington-Arlington-Alexandria,RN,4/1/22,4/1/22,NaN,NaN,NaN,NaN,NaN,na,DC-VA-MD-WV
67315,62159ce57eb41b01a79eca52,Atlanta-Sandy Springs-Alpharetta,CNA,2/23/22,3/1/22,3/2/22,3/3/22,3/4/22,19.0,NaN,na,GA
67316,62630ff729c36201acbc9890,Charleston-North Charleston,RN,4/22/22,4/22/22,NaN,NaN,NaN,NaN,NaN,na,SC

In [5]:
# Replace empty referrers with 'None' for easier filtering later
hcp['REFERRER'].fillna('None', inplace=True)
hcp.head()

,HCP_ID,MSA,QUALIFICATION,CREATED_AT,LICENSE_REVIEWED,ONBOARD_AT,FIRST_CLAIM_TIME,FIRST_SHIFT_TIME,LIFETIME_SHIFTS,REFERRER,CAMPAIGN_KEY,state
0,633be91bfb9a096b9e4d3a82,Wichita,CNA,10/5/22,10/13/22,10/29/22,11/1/22,11/21/22,2.0,None,17631861264,KS
1,632d018f9603d7808339a6bb,Tampa-St. Petersburg-Clearwater,CNA,9/23/22,NaN,NaN,NaN,NaN,NaN,None,17631861264,FL
2,6361931a7ccb0c3b06407c33,Scranton--Wilkes-Barre,RN,11/1/22,11/1/22,NaN,NaN,NaN,NaN,None,18530777721,PA
3,62feb63c88ad3001baf3108f,St. Louis,CNA,8/18/22,8/18/22,NaN,NaN,NaN,NaN,None,17631861264,MO-IL
4,63841ac43540dfe4c2ec0996,Cincinnati,CNA,11/28/22,11/28/22,NaN,NaN,NaN,NaN,None,18530777721,OH-KY-IN

In [6]:
# Creating separate dataframes for California and Tennessee
cal_hcp = hcp.loc[hcp['state']=='CA']
ten_hcp = hcp.loc[hcp['state']=='TN']

In [7]:
# Easier to see unique values for Cal, and Ten below
cal_hcp['MSA'].value_counts()

Los Angeles-Long Beach-Anaheim      3746
Riverside-San Bernardino-Ontario    1900
San Diego-Chula Vista-Carlsbad      1128
San Francisco-Oakland-Berkeley      1025
Sacramento-Roseville-Folsom          814
Stockton                             466
Fresno                               428
San Jose-Sunnyvale-Santa Clara       392
Modesto                              335
Chico                                190
Vallejo                              175
Visalia                              111
Merced                                97
Oxnard-Thousand Oaks-Ventura          90
Santa Rosa-Petaluma                   69
Salinas                               64
Yuba City                             55
Madera                                52
Hanford-Corcoran                      37
Napa                                  36
Bakersfield                           32
Redding                               28
Santa Cruz-Watsonville                23
Santa Maria-Santa Barbara             18
Truckee-Grass Valley                  16
Red Bluff                             15
Sonora                                11
Ukiah                                 10
San Luis Obispo-Paso Robles            9
El Centro                              9
Clearlake                              8
Eureka-Arcata                          7
Susanville                             5
Crescent City                          2
San Francisco-Oakland-Fremont          1
Name: MSA, dtype: int64

In [8]:
ten_hcp['MSA'].value_counts()

Nashville-Davidson--Murfreesboro--Franklin    445
Knoxville                                     136
Jackson                                        49
Tullahoma-Manchester                           25
Johnson City                                   20
Athens                                         15
Sevierville                                    12
Cookeville                                     12
Morristown                                     12
Cleveland                                      12
Crossville                                     11
McMinnville                                    10
Shelbyville                                     9
Union City                                      9
Lewisburg                                       9
Brownsville                                     9
Dyersburg                                       6
Newport                                         6
Paris                                           5
Martin                                          4
Lawrenceburg                                    3
Dayton                                          2
Greeneville                                     2
La Follette                                     1
Name: MSA, dtype: int64

In [9]:
# Create LA and Nash dataframes
la_hcp = cal_hcp.loc[cal_hcp['MSA']=='Los Angeles-Long Beach-Anaheim'].copy()
nash_hcp = ten_hcp.loc[ten_hcp['MSA']=='Nashville-Davidson--Murfreesboro--Franklin'].copy()

In [10]:
# Remove inactive accounts and store active accounts in LA and Nash below
la_hcp.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)
la_working_accounts = la_hcp['HCP_ID'].count()

nash_hcp.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)
nash_working_accounts = nash_hcp['HCP_ID'].count()

print('Active accounts in LA: ' + str(la_working_accounts))
print('Active accounts in Nashville: ' + str(nash_working_accounts))

Active accounts in LA: 1297
Active accounts in Nashville: 117

# Calculating return for referral vs non in LA

In [11]:
# Find active accounts made without a referral
la_nonref_active = la_hcp.loc[la_hcp['REFERRER']=='None'].copy()
la_nonref_active.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)
la_nonref_active = la_nonref_active.reset_index(drop=True)
la_nonref_active.head()

,HCP_ID,MSA,QUALIFICATION,CREATED_AT,LICENSE_REVIEWED,ONBOARD_AT,FIRST_CLAIM_TIME,FIRST_SHIFT_TIME,LIFETIME_SHIFTS,REFERRER,CAMPAIGN_KEY,state
0,62a255d0c50003846a02e647,Los Angeles-Long Beach-Anaheim,CNA,6/9/22,6/9/22,9/26/22,9/26/22,9/30/22,20.0,None,18530777721,CA
1,621f2a1678c27801ac191b9b,Los Angeles-Long Beach-Anaheim,CNA,3/2/22,3/2/22,3/11/22,3/24/22,3/30/22,21.0,None,na,CA
2,633086869603d78083e0e5e1,Los Angeles-Long Beach-Anaheim,CNA,9/25/22,11/18/22,12/9/22,12/10/22,12/14/22,10.0,None,na,CA
3,62e9c57200e29d01ab56e9a2,Los Angeles-Long Beach-Anaheim,LVN,8/3/22,8/3/22,8/29/22,8/30/22,9/5/22,19.0,None,na,CA
4,626ad36d7e73ce01c14cb6e8,Los Angeles-Long Beach-Anaheim,CNA,4/28/22,4/28/22,NaN,4/28/22,5/1/22,20.0,None,na,CA

In [12]:
# Calculate avg lifetime value of non-referral active accounts
la_nraa_profit = 0
la_nraa_hcp = la_nonref_active['HCP_ID'].count()

cna_rate = 5
lvn_rate = 10
rn_rate = 15

for x in np.arange(la_nraa_hcp):
    if la_nonref_active.iloc[x,2] == 'CNA':
        la_nraa_profit += la_nonref_active.iloc[x,8] * cna_rate * 8
    elif la_nonref_active.iloc[x,2] == 'LVN':
        la_nraa_profit += la_nonref_active.iloc[x,8] * lvn_rate * 8
    elif la_nonref_active.iloc[x,2] == 'RN':
        la_nraa_profit += la_nonref_active.iloc[x,8] * rn_rate * 8

la_avg_nr_profit = la_nraa_profit / la_nraa_hcp
la_avg_nr_shifts = la_nonref_active['LIFETIME_SHIFTS'].mean()

print('Average profits from nonreferred workers in LA: ' + str(la_avg_nr_profit))
print('Average shifts for nonreferred workers in LA: ' + str(la_avg_nr_shifts))

Average profits from nonreferred workers in LA: 946.9668246445498
Average shifts for nonreferred workers in LA: 16.629146919431278

In [13]:
# Find active accounts made WITH a referral
la_ref_active = la_hcp.loc[la_hcp['REFERRER'] != 'None'].copy()
la_ref_active.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)
la_ref_active = la_ref_active.reset_index(drop=True)
la_ref_active.head()

,HCP_ID,MSA,QUALIFICATION,CREATED_AT,LICENSE_REVIEWED,ONBOARD_AT,FIRST_CLAIM_TIME,FIRST_SHIFT_TIME,LIFETIME_SHIFTS,REFERRER,CAMPAIGN_KEY,state
0,631b401f9603d78083193e28,Los Angeles-Long Beach-Anaheim,CNA,9/13/22,9/13/22,9/23/22,9/27/22,10/1/22,6.0,61c60d19b8bfc80180d64eac,17631861264,CA
1,62f2cf6ac3ffc601b64d513b,Los Angeles-Long Beach-Anaheim,CNA,8/9/22,8/9/22,8/16/22,10/19/22,10/20/22,27.0,626357794c685201ab98d0a9,13743509691,CA
2,634842d3fb9a096b9e77ea7f,Los Angeles-Long Beach-Anaheim,CNA,10/14/22,10/14/22,10/16/22,10/22/22,10/22/22,37.0,61aff2db87f1b201848fca57,18530777721,CA
3,62b98e914cab7601c1b0c64b,Los Angeles-Long Beach-Anaheim,CNA,6/27/22,9/3/22,9/3/22,9/4/22,9/4/22,33.0,61ead492b9162b018a244959,na,CA
4,62b23d258e735a01bc79773e,Los Angeles-Long Beach-Anaheim,LVN,6/21/22,6/21/22,6/22/22,6/22/22,6/26/22,10.0,6286843c9a73a501c128749c,na,CA

In [14]:
la_raa_profit = 0
la_raa_hcp = la_ref_active['HCP_ID'].count()

cna_rate = 5
lvn_rate = 10
rn_rate = 15

for x in np.arange(la_raa_hcp):
    if la_ref_active.iloc[x,2] == 'CNA':
        la_raa_profit += la_ref_active.iloc[x,8] * cna_rate * 8
    elif la_ref_active.iloc[x,2] == 'LVN':
        la_raa_profit += la_ref_active.iloc[x,8] * lvn_rate * 8
    elif la_ref_active.iloc[x,2] == 'RN':
        la_raa_profit += la_ref_active.iloc[x,8] * rn_rate * 8

la_avg_ref_profit = la_raa_profit / la_raa_hcp
la_avg_ref_shifts = la_ref_active['LIFETIME_SHIFTS'].mean()

print('Average profits from referred workers in LA: ' + str(la_avg_ref_profit))
print('Average shifts for referred workers in LA: ' + str(la_avg_ref_shifts))

Average profits from referred workers in LA: 784.0176600441501
Average shifts for referred workers in LA: 15.13465783664459

# Calculating return for referral vs non in Nash

In [15]:
# Find active accounts made without a referral
nash_nonref_active = nash_hcp.loc[nash_hcp['REFERRER']=='None'].copy()
nash_nonref_active.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)
nash_nonref_active = nash_nonref_active.reset_index(drop=True)
nash_nonref_active.head()

,HCP_ID,MSA,QUALIFICATION,CREATED_AT,LICENSE_REVIEWED,ONBOARD_AT,FIRST_CLAIM_TIME,FIRST_SHIFT_TIME,LIFETIME_SHIFTS,REFERRER,CAMPAIGN_KEY,state
0,6309552077509c01b7d92101,Nashville-Davidson--Murfreesboro--Franklin,CNA,8/26/22,8/26/22,9/2/22,9/22/22,9/24/22,21.0,None,17631861264,TN
1,61de4d41001d43018b981d89,Nashville-Davidson--Murfreesboro--Franklin,CNA,1/12/22,1/12/22,3/25/22,3/30/22,3/30/22,10.0,None,na,TN
2,630f75ba95230301b59eab06,Nashville-Davidson--Murfreesboro--Franklin,CNA,8/31/22,9/1/22,9/1/22,9/7/22,9/10/22,2.0,None,na,TN
3,62307a24dafae501aeed79ca,Nashville-Davidson--Murfreesboro--Franklin,CNA,3/15/22,3/15/22,11/14/22,11/30/22,12/5/22,21.0,None,15595984274,TN
4,61f7033bfac74e018ae365ce,Nashville-Davidson--Murfreesboro--Franklin,LVN,1/30/22,1/30/22,1/31/22,3/11/22,3/15/22,20.0,None,na,TN

In [16]:
# Calculate avg lifetime value of non-referral active accounts
nash_nraa_profit = 0
nash_nraa_hcp = nash_nonref_active['HCP_ID'].count()

cna_rate = 5
lvn_rate = 10
rn_rate = 15

for x in np.arange(nash_nraa_hcp):
    if nash_nonref_active.iloc[x,2] == 'CNA':
        nash_nraa_profit += nash_nonref_active.iloc[x,8] * cna_rate * 8
    elif nash_nonref_active.iloc[x,2] == 'LVN':
        nash_nraa_profit += nash_nonref_active.iloc[x,8] * lvn_rate * 8
    elif nash_nonref_active.iloc[x,2] == 'RN':
        nash_nraa_profit += nash_nonref_active.iloc[x,8] * rn_rate * 8

nash_avg_nr_profit = nash_nraa_profit / nash_nraa_hcp
nash_avg_nr_shifts = nash_nonref_active['LIFETIME_SHIFTS'].mean()

print('Average profits from nonreferred workers in Nashville: ' + str(nash_avg_nr_profit))
print('Average shifts for nonreferred workers in Nashville: ' + str(nash_avg_nr_shifts))

Average profits from nonreferred workers in Nashville: 912.4528301886793
Average shifts for nonreferred workers in Nashville: 13.264150943396226

In [17]:
# Find active accounts made WITH a referral
nash_ref_active = nash_hcp.loc[nash_hcp['REFERRER']!='None'].copy()
nash_ref_active.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)
nash_ref_active = nash_ref_active.reset_index(drop=True)
nash_ref_active.head()

,HCP_ID,MSA,QUALIFICATION,CREATED_AT,LICENSE_REVIEWED,ONBOARD_AT,FIRST_CLAIM_TIME,FIRST_SHIFT_TIME,LIFETIME_SHIFTS,REFERRER,CAMPAIGN_KEY,state
0,62eb2d9771188401b586d50d,Nashville-Davidson--Murfreesboro--Franklin,CNA,8/4/22,8/4/22,8/4/22,8/4/22,8/6/22,13.0,62e05d9c4d23f301b50a7a15,na,TN
1,626b813debba6601c3de12f5,Nashville-Davidson--Murfreesboro--Franklin,CNA,4/29/22,5/2/22,6/1/22,6/3/22,6/19/22,21.0,624f7ec79cf773019fcd1adf,na,TN
2,62a025a815ffd101c05b3e5b,Nashville-Davidson--Murfreesboro--Franklin,CNA,6/8/22,6/23/22,9/26/22,9/27/22,9/29/22,8.0,62b1e6b5fdee9601c057e4b8,na,TN
3,636e77f17ccb0c3b06442d5f,Nashville-Davidson--Murfreesboro--Franklin,CNA,11/11/22,11/11/22,11/13/22,11/19/22,11/23/22,8.0,61bcd3d9f9bdaf0186ba122a,na,TN
4,6272ea30e5866a01bee541d8,Nashville-Davidson--Murfreesboro--Franklin,CNA,5/4/22,5/4/22,7/24/22,8/10/22,8/14/22,4.0,62428e9a1cb32a01ade2c3b3,na,TN

In [18]:
nash_raa_profit = 0
nash_raa_hcp = nash_ref_active['HCP_ID'].count()

cna_rate = 5
lvn_rate = 10
rn_rate = 15

for x in np.arange(nash_raa_hcp):
    if nash_ref_active.iloc[x,2] == 'CNA':
        nash_raa_profit += nash_ref_active.iloc[x,8] * cna_rate * 8
    elif nash_ref_active.iloc[x,2] == 'LVN':
        nash_raa_profit += nash_ref_active.iloc[x,8] * lvn_rate * 8
    elif nash_ref_active.iloc[x,2] == 'RN':
        nash_raa_profit += nash_ref_active.iloc[x,8] * rn_rate * 8

nash_avg_ref_profit = nash_raa_profit / nash_raa_hcp
nash_avg_ref_shifts = nash_ref_active['LIFETIME_SHIFTS'].mean()

print('Average profits from referred workers in Nashville: ' + str(nash_avg_ref_profit))
print('Average shifts for referred workers in Nashville: ' + str(nash_avg_ref_shifts))

Average profits from referred workers in Nashville: 690.625
Average shifts for referred workers in Nashville: 13.640625

# Other Referral Program Statistics

In [19]:
# Create LA and Nash dataframes again
la_hcp = cal_hcp.loc[cal_hcp['MSA']=='Los Angeles-Long Beach-Anaheim'].copy()
nash_hcp = ten_hcp.loc[ten_hcp['MSA']=='Nashville-Davidson--Murfreesboro--Franklin'].copy()

In [20]:
# Remove accounts without referrals. Store count of referral accounts
la_hcp = la_hcp.loc[la_hcp['REFERRER'] != 'None']
la_refer_accounts = la_hcp['REFERRER'].count()

nash_hcp = nash_hcp.loc[nash_hcp['REFERRER'] != 'None']
nash_refer_accounts = nash_hcp['REFERRER'].count()

print('Accounts with a referral in LA, including inactive: ' + str(la_refer_accounts))
print('Accounts with a referral in Nashville, including inactive: ' + str(nash_refer_accounts))

Accounts with a referral in LA, including inactive: 620
Accounts with a referral in Nashville, including inactive: 83

In [21]:
# Store number of converted referrals for both LA and Nash
la_hcp.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)
nash_hcp.dropna(subset = ['FIRST_SHIFT_TIME'], inplace=True)

la_conv_refers = la_hcp['REFERRER'].count()
nash_conv_refers = nash_hcp['REFERRER'].count()

print('Active accounts with a referral in LA: ' + str(la_conv_refers))
print('Active accounts with a referral in Nashville: ' + str(nash_conv_refers))

Active accounts with a referral in LA: 453
Active accounts with a referral in Nashville: 64

In [22]:
la_ref_conv_rate = la_conv_refers / la_refer_accounts
nash_ref_conv_rate = nash_conv_refers / nash_refer_accounts

print('Percent of accounts with a referral converting to active in LA: ' + str(la_ref_conv_rate))
print('Percent of accounts with a referral converting to active in Nashville: ' + str(nash_ref_conv_rate))

Percent of accounts with a referral converting to active in LA: 0.7306451612903225
Percent of accounts with a referral converting to active in Nashville: 0.7710843373493976

In [23]:
la_ref_workers = la_conv_refers / la_working_accounts
nash_ref_workers = nash_conv_refers / nash_working_accounts

print('Percent of active accounts with a referral in LA: ' + str(la_ref_workers))
print('Percent of active accounts with a referral in Nashville: ' + str(nash_ref_workers))

Percent of active accounts with a referral in LA: 0.3492675404780262
Percent of active accounts with a referral in Nashville: 0.5470085470085471

In [24]:
print('For all of 2022:')
print('')
print('Active accounts in LA: ' + str(round(la_working_accounts, 2)))
print('Active accounts in Nashville: ' + str(round(nash_working_accounts, 2)))
print('')
print('Average profits from nonreferred workers in LA: ' + str(round(la_avg_nr_profit, 2)))
print('Average shifts for nonreferred workers in LA: ' + str(round(la_avg_nr_shifts, 2)))
print('')
print('Average profits from nonreferred workers in Nashville: ' + str(round(nash_avg_nr_profit, 2)))
print('Average shifts for nonreferred workers in Nashville: ' + str(round(nash_avg_nr_shifts, 2)))
print('')
print('Average profits from referred workers in LA: ' + str(round(la_avg_ref_profit, 2)))
print('Average shifts for referred workers in LA: ' + str(round(la_avg_ref_shifts, 2)))
print('')
print('Average profits from referred workers in Nashville: ' + str(round(nash_avg_ref_profit, 2)))
print('Average shifts for referred workers in Nashville: ' + str(round(nash_avg_ref_shifts, 2)))

For all of 2022:

Active accounts in LA: 1297
Active accounts in Nashville: 117

Average profits from nonreferred workers in LA: 946.97
Average shifts for nonreferred workers in LA: 16.63

Average profits from nonreferred workers in Nashville: 912.45
Average shifts for nonreferred workers in Nashville: 13.26

Average profits from referred workers in LA: 784.02
Average shifts for referred workers in LA: 15.13

Average profits from referred workers in Nashville: 690.62
Average shifts for referred workers in Nashville: 13.64