In [1]:
import pandas as pd
data1 = "1_paid_marketing.csv"
data2 = "2_hcp_data.csv"
data3 = "3_shifts_data.csv"
campaigns = pd.read_csv(data1)
hcp = pd.read_csv(data2)
shifts = pd.read_csv(data3)

In [2]:
campaigns.head()

   CAMPAIGN_ID  CAMPAIGN_TYPE     DAY      COST   IMPRESSIONS   CLICKS
0  13743509691  Google Search  9/1/22   $199.36         1,184       57
1  13743509691  Google Search  9/3/22   $108.69           105       31
2  13743509691  Google Search  9/4/22   $188.79           794       49
3  13743509691  Google Search  9/5/22   $198.47         1,069       52
4  13743509691  Google Search  9/8/22   $900.51         2,979      213

In [3]:
campaigns.columns

Index(['CAMPAIGN_ID', 'CAMPAIGN_TYPE', 'DAY', ' COST ', ' IMPRESSIONS ',
       ' CLICKS '],
      dtype='object')

In [4]:
campaigns.drop(columns=' IMPRESSIONS ', inplace=True)
campaigns.drop(columns=' CLICKS ', inplace=True)
campaigns.drop(columns='CAMPAIGN_TYPE', inplace=True)

In [5]:
campaigns = campaigns.rename(columns={' COST ':'COST'})

In [6]:
campaigns.dtypes

CAMPAIGN_ID    object
DAY            object
COST           object
dtype: object

In [7]:
print(pd.to_datetime(campaigns['DAY'], errors='coerce').isnull().value_counts())
print(pd.to_numeric(campaigns['COST'], errors='coerce').isnull().value_counts())

False    3202
Name: DAY, dtype: int64
True    3202
Name: COST, dtype: int64

In [8]:
print(pd.to_numeric(campaigns['COST'], errors='raise'))

ValueError: Unable to parse string " $199.36 " at position 0

In [10]:
campaigns['COST'] = campaigns['COST'].str.replace('$','')
campaigns['COST'] = campaigns['COST'].str.replace(',','')

In [12]:
print(pd.to_datetime(campaigns['DAY'], errors='coerce').isnull().value_counts())
print(pd.to_numeric(campaigns['COST'], errors='coerce').isnull().value_counts())

False    3202
Name: DAY, dtype: int64
False    3202
Name: COST, dtype: int64

In [13]:

campaigns.COST = pd.to_numeric(campaigns['COST'], errors='coerce')

In [17]:
print(campaigns.shape)
print(campaigns.dtypes)

(3202, 3)
CAMPAIGN_ID     object
DAY             object
COST           float64
dtype: object