In [1]:
import pandas as pd
data1 = "1_paid_marketing.csv"
data2 = "2_hcp_data.csv"
data3 = "3_shifts_data.csv"
campaigns = pd.read_csv(data1)
hcp = pd.read_csv(data2)
shifts = pd.read_csv(data3)

In [2]:
campaigns.head()

   CAMPAIGN_ID  CAMPAIGN_TYPE     DAY      COST   IMPRESSIONS   CLICKS
0  13743509691  Google Search  9/1/22   $199.36         1,184       57
1  13743509691  Google Search  9/3/22   $108.69           105       31
2  13743509691  Google Search  9/4/22   $188.79           794       49
3  13743509691  Google Search  9/5/22   $198.47         1,069       52
4  13743509691  Google Search  9/8/22   $900.51         2,979      213

In [3]:
campaigns.columns

Index(['CAMPAIGN_ID', 'CAMPAIGN_TYPE', 'DAY', ' COST ', ' IMPRESSIONS ',
       ' CLICKS '],
      dtype='object')

In [4]:
campaigns.dtypes

CAMPAIGN_ID      object
CAMPAIGN_TYPE    object
DAY              object
 COST            object
 IMPRESSIONS     object
 CLICKS          object
dtype: object

campaigns[' COST '] = campaigns[' COST '].str.replace('$','')
print(pd.to_numeric(campaigns[' COST '].str.replace('$','')

In [ ]:
campaigns[' COST '].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')
campaigns[' IMPRESSIONS '].apply(lambda x: x.replace(',', '')).astype('int')
campaigns[' CLICKS '].apply(lambda x: x.replace(',', '')).astype('int')
campaigns.head(200)

In [ ]:
campaigns['DAY'] = pd.to_datetime(campaigns['DAY'])
campaigns['DAY'] = pd.to_datetime(campaigns['DAY'])
campaigns['DAY'] = pd.to_datetime(campaigns['DAY'])